@define-color selected-text #8caaee;
@define-color text #c6d0f5;
@define-color base #24273a;
@define-color border #c6d0f5;
@define-color foreground #c6d0f5;
@define-color background #24273a;

* {
    font-family: "Fira Sans Semibold";
    font-size: 16px;
}

